<h1>All our cocktails</h1>
<div class="container">
  <div class="row" style=" margin-top: 30px;">
    <% @cocktails.each do |cocktail| %>
    <% image_url = "https://source.unsplash.com/featured/800x400/?cocktail,#{cocktail.name}" %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail text-center">
        <img src= <%= image_url%> style="background-size = cover" alt="Cocktail">
        <div class="caption">
          <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
          <p><%= link_to "Discover", cocktail_path(cocktail), class: 'btn btn-primary'%></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <%= link_to new_cocktail_path, class: 'btn btn-primary btn-lg clearfix' do %>
          <i class="fas fa-plus"></i>
          Add a new cocktail
        <% end %>
       <hr>
      </div>
    </div>
  </div>
</div>
