<div class="wrapper-image-new" style ="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c8d364e633e2015fbac047f327ce098&auto=format&fit=crop&w=1271&q=80);">
  <h1>Add your new favourite cocktail</h1>
</div>
<div class="container">
  <%= render 'form', cocktail: @cocktail %>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="text-center">
      <%= link_to cocktails_path, class: 'btn btn-primary btn-lg clearfix' do %>
        <p>
          <i class="fas fa-undo-alt"></i>
          Back to the cocktails
        </p>
      <% end %>
     <hr>
    </div>
  </div>
</div>
