<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 0%), url(https://s2.qwant.com/thumbr/0x380/5/a/2d1655f7aff40577ad72ea8ab18156db2a97d67f363eb24e76fb7fc878df3f/Article-Four-Bottle-Bar-Thanksgiving-Cocktail-Recipe.jpg?u=https%3A%2F%2Fassets.punchdrink.com%2Fwp-content%2Fuploads%2F2017%2F11%2FArticle-Four-Bottle-Bar-Thanksgiving-Cocktail-Recipe.jpg&q=0&b=1&p=0&a=1);">
  <div class="banner-content">
    <h1>Johnny's Cocktails</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>
<div class="wrapper">
  <h1>What do you want to do ? </h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd: ;9&s=6b1d319c9d079085df12025ac37e9e1e&auto=format&fit=crop&w=1050&q=80);">
              <div class="card-description">
                <h2>Voir tous les cocktails</h2>
              </div>
              <a class="card-link" href="/cocktails" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1497294917683-af0deacf3ef0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd: ;9&s=fad43cb00d0e104a6e5bfb4053b6d3e2&auto=format&fit=crop&w=1051&q=80);">
              <div class="card-description">
                <h2>Ajouter son cocktail</h2>
              </div>
              <a class="card-link" href="/cocktails/new" ></a>
          </div>
        </div>
      </div>
    </div>
</div>

