<div class="wrapper-image-new" style ="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509669803555-fd5edd8d5a41?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=453ba52ad7b512705656a61f78bd11ad&auto=format&fit=crop&w=1050&q=80);">
  <h1><%= @cocktail.name %>git p updating ...</h1>
</div>
<div class="container">
    <%= render 'form', dose: @dose %>
  <hr>
  <%= link_to cocktails_path do%>
    <p>
      <i class="fas fa-undo-alt"></i>
      Back to the list
    </p>
  <% end %>
</div>
