<div class="container">
  <h1>New Doses</h1>
    <%= render 'form', dose: @dose %>
  <hr>
  <%= link_to cocktails_path do%>
    <p>
      <i class="fas fa-undo-alt"></i>
      Back to the list
    </p>
  <% end %>
</div>
